<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/_head %>
</head>

<body>
    <div id="containerFull">
        <header>
            <% include ./partials/_header %>
        </header>
        <table class="table table-nonfluid">
            <thead class="thead thead-dark">
                <tr>
                    <th>URLs</th>
                    <th>Shortened URLs</th>
                    <th>Date Created</th>
                    <th>Edit URL</th>
                    <th>Delete URL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(let url in urlList) { %>
                    <tr>
                        <td>
                            <%= urlList[url] %>
                        </td>
                        <td>
                            <%= url %>
                        </td>
                        <td>
                            <%= allURLS[url].date %>
                        </td>
                        <td>
                            <a href="/urls/<%= url %>">Edit</a>
                        </td>
                        <td>
                            <form id="deleteURL" method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
                                <button class="btn btn-danger" type="submit" form="deleteURL" id="<%= url %>" onClick="deleteURL(this.id)">DeleteURL
                                    <i class="icon-trash icon-small"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <div class="popup">
                                <span class="popuptext" id="myPopup<%= url %>">Deleting forever...</span>
                            </div>
                        </td>
                    </tr>
                    <% }; %>
            </tbody>
        </table>
        <form id='addNewURL' method="GET" action='/urls/new/'>
            <button class="btn btn-primary newURL" type='submit' form="addNewURL">Shorten a new URL!</button>
        </form>
    </div>
    <script>
        function deleteURL(id) {
            console.log("CALLING")
            var popup = document.getElementById("myPopup" + id);
            popup.classList.toggle("show");
        }
    </script>
</body>

</html>